<main class="main">
  <div class="navbar">
    <div class="news-company-logo"></div>
    <div class="news-company-title"><h1>DUBAI TRIBUNE</h1></div>
  </div>
  <div class="content">

    <div class="right-side">
      <div class="search-bar">
        <div class="query-search">
          <span class="material-icons-outlined">search</span>
          <input type="text" type="text" placeholder="Search..." [(ngModel)]='queryString'>
        </div>
        <div class="country-search search-filter">
          <select name="country-select" id="country-select" [compareWith]="compareFn" [(ngModel)]='countrySelect'>
            <option value=' ' >Global</option>
            <option *ngFor="let option of countryOptions" 
            [ngValue]="option"
            >
            {{option.name}}
            </option>
          </select>
        </div>
        <div class="category-search search-filter">
          <select name="category-select" id="category-select" [compareWith]="compareFn" [(ngModel)]='categorySelect'>
            <option value=" ">All Categories</option>
            <option *ngFor="let option of categoryOptions" 
            [ngValue]="option">
            {{option.name}}
            </option>
          </select>
        </div>
        <button class="search-btn" (click)="handleSearch($event)">
          Search
        </button>
      </div>
      <div class="news-articles" >
        <a class="grid-item" href={{article.url}} target="_blank" *ngFor="let article of newsArticles">
            <img alt="" src={{article.urlToImage}} class="cover" [style.display]="(article.urlToImage != null && article.urlToImage != '') ? 'block' : 'none'"/>
            <div class="article-text">
              <h4>{{(article.title ?? '').slice(0, 65) + ((article.title ?? '').length > 65 ? '...' : '')}}</h4>
              <p>{{(article.author ?? 'Anonymous').substring(0, 20)}} - {{article.publishedAt.toString().substring(0, 10)}}</p>
              <p>{{(article.description ?? '').slice(0, 65) + ((article.description ?? '').length > 65 ? '...' : '')}}</p>

            </div>

        </a>
      </div>
      <div class="pagination-container">
        <div class="pagination">
          <a id='page-1'  [ngStyle]="{fontWeight: page$ == 1 ? 'bold' : 'normal'}" (click)="handlePageChange($event)">1</a>
          <a id='page-2'  [ngStyle]="{fontWeight: page$ == 2 ? 'bold' : 'normal'}" (click)="handlePageChange($event)">2</a>
          <a id='page-3'  [ngStyle]="{fontWeight: page$ == 3 ? 'bold' : 'normal'}" (click)="handlePageChange($event)">3</a>
          <a id='page-4'  [ngStyle]="{fontWeight: page$ == 4 ? 'bold' : 'normal'}" (click)="handlePageChange($event)">4</a>
          <a id='page-5'  [ngStyle]="{fontWeight: page$ == 5 ? 'bold' : 'normal'}" (click)="handlePageChange($event)">5</a>
          <a id='page-6'  [ngStyle]="{fontWeight: page$ == 6 ? 'bold' : 'normal'}" (click)="handlePageChange($event)">6</a>
        </div>
      </div>
    </div>
  </div>
</main>

<router-outlet />
