<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main class="main">
  <div class="navbar">
    <div class="news-company-logo"></div>
    <div class="news-company-title"><h1>NEWSWEEK</h1></div>
  </div>
  <div class="content">
    <div class="left-side">
      <div class="filters">
      </div>
    </div>
    <div class="right-side">
      <div class="search-bar"></div>
      <div class="news-articles">
        <div class="grid-item"><p>hello</p></div>
        <div class="grid-item"><p>hello</p></div>
        <div class="grid-item"><p>hello</p></div>
        <div class="grid-item"><p>hello</p></div>
        <div class="grid-item"><p>hello</p></div>
        <div class="grid-item"><p>hello</p></div>
        <div class="grid-item"><p>hello</p></div>
        <div class="grid-item"><p>hello</p></div>
        <div class="grid-item"><p>hello</p></div>
      </div>
      <div class="pagination"></div>
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
